{"openapi":"3.1.0","info":{"title":"FomoScan Identity API","version":"1.1.0","description":"Resolve a FOMO trader handle to their on-chain wallet addresses, and\nany wallet back to the traders behind it. Every returned address is a\nverified match.\n\n## Authentication\nSend your API key as `Authorization: Bearer fsk_live_…` (or the\n`X-Api-Key` header).\n\n## Billing\nEvery call costs compute units (CU) — there are no free calls and no\ndeduplication. A hit costs the price of the endpoint you called; a miss\ncosts a flat 25 CU whatever you called. Prices are fixed per endpoint:\na handle or id lookup is 250 CU, a wallet resolution is 5,000 CU, a\nthesis page is 25 CU.\n\nOne monthly counter, hard cap, no rollover. `GET /v2/me` reports what you have used and what is left.","contact":{"name":"FomoScan","url":"https://fomoscan.sh","email":"fomoscan-support@proton.me"}},"servers":[{"url":"https://api.fomoscan.sh","description":"Production"}],"tags":[{"name":"Identities","description":"Resolve handles ↔ wallets."},{"name":"Thesis Feed","description":"Trader \"thesis\" posts, newest first — by token, by author, or both. Each endpoint serves two jobs: poll it with no `before` for a live feed, or walk `before` backwards to backfill. Clients MUST dedupe on `id`, and can resolve any thesis to its author with `authorId`."},{"name":"Account","description":"Your key: entitlements and usage."}],"paths":{"/v2/user/handle/{handle}":{"get":{"summary":"Resolve a FOMO handle to the user and their verified wallet","tags":["Identities"],"description":"Looks a user up by their fomo.family handle.\n\n- **404** when we do not know the handle.\n- A **200** with both addresses null means we know the user but\n  hold no verified wallet — never that they have none.\n- **250 CU** on a hit, **25 CU** on a 404. Charged every call.","parameters":[{"schema":{"type":"string","minLength":1,"maxLength":64},"example":"frankdegods","in":"path","name":"handle","required":true,"description":"fomo.family username (case-insensitive; leading @ is stripped)."}],"security":[{"b2bApiKey":[]}],"responses":{"200":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","required":["id","handle","name","bio","banner","profilePicture","twitter","solanaAddress","evmAddress"],"properties":{"id":{"type":"string","format":"uuid","description":"Stable FOMO user id — the key to cache and join on, and the one `/v2/user/id/{id}` takes. Unlike `handle` it never changes, and it is the same id FOMO itself uses, so it joins directly against anything you already hold from them."},"handle":{"type":"string","description":"The canonical handle. Users rename — do not key on it."},"name":{"type":["null","string"],"description":"Display name."},"bio":{"type":["null","string"],"description":"Profile blurb as written by the user, or null if they have none."},"banner":{"type":["null","string"],"description":"Cover photo URL, or null. Not guaranteed to still resolve."},"profilePicture":{"type":["null","string"],"description":"Avatar URL, or null. Not guaranteed to still resolve."},"twitter":{"type":["null","string"],"description":"Canonical X profile link, `https://x.com/<handle>`, or null. Normalised from whatever the user typed on FOMO; null when that could not be reduced to a plausible handle. Self-declared and NOT verified by us — a claim, not a proof.","example":"https://x.com/frankdegods"},"solanaAddress":{"type":["null","string"],"description":"Verified Solana address (base58), or null."},"evmAddress":{"type":["null","string"],"description":"Verified EVM address, `0x`-prefixed, or null."}}}}}},"404":{"description":"Default Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/def-0"}}}}}}},"/v2/user/wallet/{address}":{"get":{"summary":"Resolve a wallet address to the user(s) behind it","tags":["Identities"],"description":"The same record as `/v2/user/handle/{handle}`.\n\n- **EVM addresses must be `0x`-prefixed.** The chain is inferred\n  from the address.\n- **404** when we hold no user for the address.\n- If the address is shared by several users, the longest-standing\n  verified link wins.\n- **5,000 CU** on a hit — this resolution is what you are buying —\n  and **25 CU** on a 404. Charged every call.","parameters":[{"schema":{"type":"string","minLength":1,"maxLength":128},"example":"498g1rVnFcnjBjpfw1xyqA1WvgQXUU8RWuELjxkjAayQ","in":"path","name":"address","required":true,"description":"Solana address (base58) or EVM address (**must** include the `0x` prefix)."}],"security":[{"b2bApiKey":[]}],"responses":{"200":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","required":["id","handle","name","bio","banner","profilePicture","twitter","solanaAddress","evmAddress"],"properties":{"id":{"type":"string","format":"uuid","description":"Stable FOMO user id — the key to cache and join on, and the one `/v2/user/id/{id}` takes. Unlike `handle` it never changes, and it is the same id FOMO itself uses, so it joins directly against anything you already hold from them."},"handle":{"type":"string","description":"The canonical handle. Users rename — do not key on it."},"name":{"type":["null","string"],"description":"Display name."},"bio":{"type":["null","string"],"description":"Profile blurb as written by the user, or null if they have none."},"banner":{"type":["null","string"],"description":"Cover photo URL, or null. Not guaranteed to still resolve."},"profilePicture":{"type":["null","string"],"description":"Avatar URL, or null. Not guaranteed to still resolve."},"twitter":{"type":["null","string"],"description":"Canonical X profile link, `https://x.com/<handle>`, or null. Normalised from whatever the user typed on FOMO; null when that could not be reduced to a plausible handle. Self-declared and NOT verified by us — a claim, not a proof.","example":"https://x.com/frankdegods"},"solanaAddress":{"type":["null","string"],"description":"Verified Solana address (base58), or null."},"evmAddress":{"type":["null","string"],"description":"Verified EVM address, `0x`-prefixed, or null."}}}}}},"404":{"description":"Default Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/def-0"}}}}}}},"/v2/user/id/{id}":{"get":{"summary":"Resolve a FOMO user id to the user and their verified wallet","tags":["Identities"],"description":"Looks a user up by the `id` from a previous response. `id` is stable\nwhere `handle` is not, so it is the value to store against your own\nrecords and come back with.\n\n- **404** when we do not know the id.\n- A **200** with both addresses null means we know the user but hold\n  no verified wallet — never that they have none.\n- **250 CU** on a hit, **25 CU** on a 404. Charged every call.","parameters":[{"schema":{"type":"string","format":"uuid"},"example":"193fb089-854e-5152-94f5-f55dd86e2900","in":"path","name":"id","required":true,"description":"FOMO user id, as returned in `id` on any user record. Same id FOMO uses."}],"security":[{"b2bApiKey":[]}],"responses":{"200":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","required":["id","handle","name","bio","banner","profilePicture","twitter","solanaAddress","evmAddress"],"properties":{"id":{"type":"string","format":"uuid","description":"Stable FOMO user id — the key to cache and join on, and the one `/v2/user/id/{id}` takes. Unlike `handle` it never changes, and it is the same id FOMO itself uses, so it joins directly against anything you already hold from them."},"handle":{"type":"string","description":"The canonical handle. Users rename — do not key on it."},"name":{"type":["null","string"],"description":"Display name."},"bio":{"type":["null","string"],"description":"Profile blurb as written by the user, or null if they have none."},"banner":{"type":["null","string"],"description":"Cover photo URL, or null. Not guaranteed to still resolve."},"profilePicture":{"type":["null","string"],"description":"Avatar URL, or null. Not guaranteed to still resolve."},"twitter":{"type":["null","string"],"description":"Canonical X profile link, `https://x.com/<handle>`, or null. Normalised from whatever the user typed on FOMO; null when that could not be reduced to a plausible handle. Self-declared and NOT verified by us — a claim, not a proof.","example":"https://x.com/frankdegods"},"solanaAddress":{"type":["null","string"],"description":"Verified Solana address (base58), or null."},"evmAddress":{"type":["null","string"],"description":"Verified EVM address, `0x`-prefixed, or null."}}}}}},"404":{"description":"Default Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/def-0"}}}}}}},"/v2/user/handle/{handle}/resolve":{"post":{"summary":"Resolve a handle to its wallets, live","tags":["Identities"],"description":"Returns the wallet we hold for this handle, and if we hold none, sends the crawler fleet to\nfomo.family to go and prove one — waiting for it.\n\n- **Answers from our tables when we already have a verified wallet**, without touching the\n  fleet. `x-fomoscan-resolve: cached` on that response, `live` when we actually went out.\n- Typically answers in **4-7s**. Held for at most 15s.\n- **200** returns the ordinary user record, re-read from our tables after the proof lands.\n- **202** `{ pending: true, reason }` means accepted-but-not-yet, never failed. Usually\n  `reason: \"queued\"` with a `position` and `retryAfterSeconds`: the fleet works its line\n  at a fixed rate. Asking again does not start a second resolve — it joins the same one.\n- **404** when fomo.family has no such user.\n- **202** with `reason: \"rate_limited\"` when every browser has spent its budget for the\n  minute — the fleet is capped per logged-in account, independently of your key.\n- **10,000 CU on every call** — a 200, a 202 and a 404 alike. There is no miss price:\n  you are paying for the fleet to go and look, which it did.\n- Rate limited to **10/minute** per key: each call spends a live action on a real account.","parameters":[{"schema":{"type":"string","minLength":1,"maxLength":64},"example":"frankdegods","in":"path","name":"handle","required":true,"description":"fomo.family username (case-insensitive; leading @ is stripped)."}],"security":[{"b2bApiKey":[]}],"responses":{"200":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","required":["id","handle","name","bio","banner","profilePicture","twitter","solanaAddress","evmAddress"],"properties":{"id":{"type":"string","format":"uuid","description":"Stable FOMO user id — the key to cache and join on, and the one `/v2/user/id/{id}` takes. Unlike `handle` it never changes, and it is the same id FOMO itself uses, so it joins directly against anything you already hold from them."},"handle":{"type":"string","description":"The canonical handle. Users rename — do not key on it."},"name":{"type":["null","string"],"description":"Display name."},"bio":{"type":["null","string"],"description":"Profile blurb as written by the user, or null if they have none."},"banner":{"type":["null","string"],"description":"Cover photo URL, or null. Not guaranteed to still resolve."},"profilePicture":{"type":["null","string"],"description":"Avatar URL, or null. Not guaranteed to still resolve."},"twitter":{"type":["null","string"],"description":"Canonical X profile link, `https://x.com/<handle>`, or null. Normalised from whatever the user typed on FOMO; null when that could not be reduced to a plausible handle. Self-declared and NOT verified by us — a claim, not a proof.","example":"https://x.com/frankdegods"},"solanaAddress":{"type":["null","string"],"description":"Verified Solana address (base58), or null."},"evmAddress":{"type":["null","string"],"description":"Verified EVM address, `0x`-prefixed, or null."}}}}}},"202":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","required":["pending","reason"],"properties":{"pending":{"type":"boolean","enum":[true]},"reason":{"type":"string","enum":["queued","timeout","unavailable","rate_limited","no_preview","not_ingested"],"description":"`queued` — accepted and waiting for a browser. `position` and `retryAfterSeconds` say where and when.\n`timeout` — the fleet did not answer in time; the resolve is still running, so ask again.\n`unavailable` — the fleet is down or not configured; nothing was attempted.\n`rate_limited` — the fleet’s queue is full. Unlike `queued`, this one was NOT accepted.\n`no_preview` — FOMO would not issue a transfer preview for this user. Retrying rarely helps.\n`not_ingested` — the fleet resolved the user but the write has not landed. Ask again shortly."},"retryable":{"type":"boolean","description":"False only for `no_preview`, where a prompt retry is wasted effort."},"retryAfterSeconds":{"type":"integer","description":"When the fleet expects to have your answer. Present on `queued` and `rate_limited`."},"position":{"type":"integer","description":"On `queued` only: places ahead of you in the fleet’s line. 1 is next up."}}}}}},"404":{"description":"Default Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/def-0"}}}},"429":{"description":"Default Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/def-0"}}}}}}},"/v2/thesis":{"get":{"summary":"Every thesis, newest first — the unfiltered feed","tags":["Thesis Feed"],"description":"Every thesis on the platform, newest first, 20 to a page — no token filter,\nno author filter.\n\n- **Live:** poll with no `before` and dedupe on each item’s `id`.\n- **Backfill:** feed `nextBefore` back as `before` until `hasMore` is false.\n\nEach item carries `authorId`; pass it to `/v2/user/id/{id}` for the profile\nor `/v2/thesis/user/{id}` for everything else that author has posted.\n\nNarrow before you poll if you can: `/v2/thesis/token/{tokenAddress}` and\n`/v2/thesis/user/{id}` answer the same question about one subject and cost\nthe same 25 CU, so polling this one and filtering client-side buys nothing.\n\n- **25 CU** per call, hit or miss.","parameters":[{"schema":{"type":"string"},"in":"query","name":"before","required":false,"description":"The `id` of the last thesis you saw — the previous page’s `nextBefore`. Omit for the newest 20."}],"security":[{"b2bApiKey":[]}],"responses":{"200":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","required":["count","hasMore","nextBefore","updatedAt","items"],"properties":{"count":{"type":"integer","description":"Items in this page (0..20)."},"hasMore":{"type":"boolean","description":"Whether older theses exist behind this page."},"nextBefore":{"type":["null","string"],"description":"The OLDEST item’s `id`. Send back as `?before=` to continue. Null on the last page."},"updatedAt":{"type":["null","integer"],"description":"Post time of the NEWEST thesis in this page, epoch millis."},"items":{"type":"array","items":{"type":"object","required":["id","authorHandle","thesis","fomoCreatedAt"],"properties":{"id":{"type":"string","description":"Thesis id. Dedupe on this, and send it back as `?before=` to paginate. Not related to a user `id`."},"tokenAddress":{"type":["null","string"],"description":"The token this thesis is about. Present on every item, including the narrowed feeds, so one item shape works everywhere."},"tokenNetwork":{"type":["null","string"],"description":"Chain name (`sol`, `eth`, `base`, …)."},"tokenSymbol":{"type":["null","string"],"description":"Ticker."},"authorId":{"type":["null","string"],"description":"The author’s `id` — the same value a user record carries. Pass it straight to `/v2/user/id/{id}` for their profile, or `/v2/thesis/user/{id}` for everything else they have posted."},"authorHandle":{"type":["null","string"],"description":"Author’s handle. Display it; to look the author up prefer `authorId`, which does not change when they rename."},"authorName":{"type":["null","string"],"description":"Author display name."},"authorIsDev":{"type":["null","boolean"],"description":"Author is the token’s dev."},"thesis":{"type":["null","string"],"description":"The thesis text."},"segments":{"type":["null","array"],"description":"Rich-text runs of the thesis text (text + optional link).","items":{"type":"object","additionalProperties":true}},"likeCount":{"type":["null","integer"]},"holdingsUsd":{"type":["null","number"],"description":"Author’s position value in USD at post time."},"authorTradeUsd":{"type":["null","number"],"description":"USD size of the trade behind the thesis."},"pnl":{"type":["null","number"],"description":"Legacy single figure: realized, falling back to unrealized."},"realizedPnlUsd":{"type":["null","number"],"description":"Realized PnL in USD."},"unrealizedPnlUsd":{"type":["null","number"],"description":"Unrealized PnL in USD."},"percentageRealizedPnl":{"type":["null","number"],"description":"Realized PnL as a percentage."},"percentageUnrealizedPnl":{"type":["null","number"],"description":"Unrealized PnL as a percentage."},"tokenAmount":{"type":["null","number"],"description":"Author’s token balance behind the thesis."},"closedAt":{"type":["null","integer"],"description":"When the author’s position closed, epoch millis. Null while open — the PnL above is then a running figure, not a final one."},"fomoCreatedAt":{"type":["null","integer"],"description":"Post time, epoch milliseconds."}}}}}}}}}}}},"/v2/thesis/token/{tokenAddress}":{"get":{"summary":"Theses for a token, newest first — poll this for a live feed","tags":["Thesis Feed"],"description":"The 25 most recent theses for one token, newest first by post time.\n\n- **Live:** call with no `before` on a timer; dedupe on `id`.\n- **Backfill:** feed `nextBefore` back as `?before=` until `hasMore` is false.\n- `before` is a thesis **`id`** — the last thesis you saw — not a timestamp.\n  An id positions the walk exactly, including inside a group of theses\n  posted in the same millisecond, which a timestamp cannot.\n- An unknown `before` is a **400**: we cannot resume from a thesis that no\n  longer exists, and restarting at the top would loop a backfill forever.\n- **25 CU** a page, and **25 CU** for an empty one. Charged every call, so\n  poll on a sensible timer rather than in a tight loop.\n\nIf we hold nothing for the token yet, the first call fetches it from FOMO\nbefore answering, so you normally get real theses straight away. If that\nfetch cannot finish in time the page comes back empty and the harvest\ncontinues in the background — ask again on your normal polling interval and\nit will be there. An empty page is charged the same 25 CU as a full one.","parameters":[{"schema":{"type":"string"},"in":"query","name":"before","required":false,"description":"The `id` of the last thesis you saw — the previous page’s `nextBefore`. Returns the ones after it. Omit for the newest 25."},{"schema":{"type":"string"},"example":"Ai66LHZG9MCzg1WKdawwqduVAXpNDUuV8M3uyq5ppump","in":"path","name":"tokenAddress","required":true,"description":"Mint / contract address. Case-sensitive for Solana base58; EVM `0x…` is lower-cased for you."}],"security":[{"b2bApiKey":[]}],"responses":{"200":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","required":["tokenAddress","tokenNetwork","symbol","updatedAt","count","hasMore","nextBefore","items"],"properties":{"tokenAddress":{"type":"string","description":"Normalised (EVM lower-cased)."},"tokenNetwork":{"type":["null","string"],"description":"Chain name (`sol`, `eth`, `base`, …). Null when the page is empty."},"symbol":{"type":["null","string"],"description":"Ticker. Null when the page is empty."},"updatedAt":{"type":["null","integer"],"description":"Post time of the NEWEST thesis in this page, epoch millis."},"count":{"type":"integer","description":"Items in this page (0..25)."},"hasMore":{"type":"boolean","description":"Whether older theses exist behind this page."},"nextBefore":{"type":["null","string"],"description":"The OLDEST item’s `id`. Send back as `?before=` to continue. Null on the last page."},"items":{"type":"array","items":{"type":"object","required":["id","authorHandle","thesis","fomoCreatedAt"],"properties":{"id":{"type":"string","description":"Thesis id. Dedupe on this, and send it back as `?before=` to paginate. Not related to a user `id`."},"tokenAddress":{"type":["null","string"],"description":"The token this thesis is about. Present on every item, including the narrowed feeds, so one item shape works everywhere."},"tokenNetwork":{"type":["null","string"],"description":"Chain name (`sol`, `eth`, `base`, …)."},"tokenSymbol":{"type":["null","string"],"description":"Ticker."},"authorId":{"type":["null","string"],"description":"The author’s `id` — the same value a user record carries. Pass it straight to `/v2/user/id/{id}` for their profile, or `/v2/thesis/user/{id}` for everything else they have posted."},"authorHandle":{"type":["null","string"],"description":"Author’s handle. Display it; to look the author up prefer `authorId`, which does not change when they rename."},"authorName":{"type":["null","string"],"description":"Author display name."},"authorIsDev":{"type":["null","boolean"],"description":"Author is the token’s dev."},"thesis":{"type":["null","string"],"description":"The thesis text."},"segments":{"type":["null","array"],"description":"Rich-text runs of the thesis text (text + optional link).","items":{"type":"object","additionalProperties":true}},"likeCount":{"type":["null","integer"]},"holdingsUsd":{"type":["null","number"],"description":"Author’s position value in USD at post time."},"authorTradeUsd":{"type":["null","number"],"description":"USD size of the trade behind the thesis."},"pnl":{"type":["null","number"],"description":"Legacy single figure: realized, falling back to unrealized."},"realizedPnlUsd":{"type":["null","number"],"description":"Realized PnL in USD."},"unrealizedPnlUsd":{"type":["null","number"],"description":"Unrealized PnL in USD."},"percentageRealizedPnl":{"type":["null","number"],"description":"Realized PnL as a percentage."},"percentageUnrealizedPnl":{"type":["null","number"],"description":"Unrealized PnL as a percentage."},"tokenAmount":{"type":["null","number"],"description":"Author’s token balance behind the thesis."},"closedAt":{"type":["null","integer"],"description":"When the author’s position closed, epoch millis. Null while open — the PnL above is then a running figure, not a final one."},"fomoCreatedAt":{"type":["null","integer"],"description":"Post time, epoch milliseconds."}}}}}}}}}}}},"/v2/thesis/user/{id}":{"get":{"summary":"Theses by a user, newest first — poll this for their feed","tags":["Thesis Feed"],"description":"Every thesis this user has posted, newest first, 20 to a page.\n\nThe `id` is the one on any user record — resolve a handle with\n`/v2/user/handle/{handle}` and pass the `id` straight through.\n\n- **Live**: poll with no `before` and dedupe on each item’s `id`.\n- **Backfill**: feed `nextBefore` back as `before` until `hasMore` is false.\n\nAn empty page means the user has posted nothing we hold — unlike the token\nwall there is no on-demand fetch, so there is no `pending` state to wait on.\n\n- **25 CU** per call, hit or miss.","parameters":[{"schema":{"type":"string"},"in":"query","name":"before","required":false,"description":"The `id` of the last thesis you saw — the previous page’s `nextBefore`. Omit for the newest 20."},{"schema":{"type":"string","format":"uuid"},"example":"193fb089-854e-5152-94f5-f55dd86e2900","in":"path","name":"id","required":true,"description":"The author’s `id`, as carried on any user record."}],"security":[{"b2bApiKey":[]}],"responses":{"200":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","required":["userId","tokenAddress","count","hasMore","nextBefore","updatedAt","items"],"properties":{"userId":{"type":"string","description":"The author, echoed back — the same `id` a user record carries."},"tokenAddress":{"type":["null","string"],"description":"The token this page was narrowed to, normalised. Null on the unfiltered feed."},"count":{"type":"integer","description":"Items in this page (0..20)."},"hasMore":{"type":"boolean","description":"Whether older theses exist behind this page."},"nextBefore":{"type":["null","string"],"description":"The OLDEST item’s `id`. Send back as `?before=` to continue. Null on the last page."},"updatedAt":{"type":["null","integer"],"description":"Post time of the NEWEST thesis in this page, epoch millis."},"items":{"type":"array","items":{"type":"object","required":["id","authorHandle","thesis","fomoCreatedAt"],"properties":{"id":{"type":"string","description":"Thesis id. Dedupe on this, and send it back as `?before=` to paginate. Not related to a user `id`."},"tokenAddress":{"type":["null","string"],"description":"The token this thesis is about. Present on every item, including the narrowed feeds, so one item shape works everywhere."},"tokenNetwork":{"type":["null","string"],"description":"Chain name (`sol`, `eth`, `base`, …)."},"tokenSymbol":{"type":["null","string"],"description":"Ticker."},"authorId":{"type":["null","string"],"description":"The author’s `id` — the same value a user record carries. Pass it straight to `/v2/user/id/{id}` for their profile, or `/v2/thesis/user/{id}` for everything else they have posted."},"authorHandle":{"type":["null","string"],"description":"Author’s handle. Display it; to look the author up prefer `authorId`, which does not change when they rename."},"authorName":{"type":["null","string"],"description":"Author display name."},"authorIsDev":{"type":["null","boolean"],"description":"Author is the token’s dev."},"thesis":{"type":["null","string"],"description":"The thesis text."},"segments":{"type":["null","array"],"description":"Rich-text runs of the thesis text (text + optional link).","items":{"type":"object","additionalProperties":true}},"likeCount":{"type":["null","integer"]},"holdingsUsd":{"type":["null","number"],"description":"Author’s position value in USD at post time."},"authorTradeUsd":{"type":["null","number"],"description":"USD size of the trade behind the thesis."},"pnl":{"type":["null","number"],"description":"Legacy single figure: realized, falling back to unrealized."},"realizedPnlUsd":{"type":["null","number"],"description":"Realized PnL in USD."},"unrealizedPnlUsd":{"type":["null","number"],"description":"Unrealized PnL in USD."},"percentageRealizedPnl":{"type":["null","number"],"description":"Realized PnL as a percentage."},"percentageUnrealizedPnl":{"type":["null","number"],"description":"Unrealized PnL as a percentage."},"tokenAmount":{"type":["null","number"],"description":"Author’s token balance behind the thesis."},"closedAt":{"type":["null","integer"],"description":"When the author’s position closed, epoch millis. Null while open — the PnL above is then a running figure, not a final one."},"fomoCreatedAt":{"type":["null","integer"],"description":"Post time, epoch milliseconds."}}}}}}}}}}}},"/v2/thesis/user/{id}/token/{tokenAddress}":{"get":{"summary":"Theses by a user about one token","tags":["Thesis Feed"],"description":"Everything one user has posted about one token, newest first.\n\nThe intersection of the two walls above. Same page size, same `?before=`\ncursor, same item shape — only the filter is narrower.\n\nAn empty page means this user has said nothing we hold about this token. It\ndoes NOT mean the token is unknown to us: ask `/v2/thesis/token/{tokenAddress}`\nfor that.\n\n- **25 CU** per call, hit or miss — the same as the unfiltered feed.","parameters":[{"schema":{"type":"string"},"in":"query","name":"before","required":false,"description":"The `id` of the last thesis you saw — the previous page’s `nextBefore`. Omit for the newest 20."},{"schema":{"type":"string","format":"uuid"},"example":"193fb089-854e-5152-94f5-f55dd86e2900","in":"path","name":"id","required":true,"description":"The author’s `id`, as carried on any user record."},{"schema":{"type":"string"},"example":"9cRCn9rGT8V2imeM2BaKs13yhMEais3ruM3rPvTGpump","in":"path","name":"tokenAddress","required":true,"description":"Mint / contract address. Case-sensitive for Solana base58; EVM `0x…` is lower-cased for you."}],"security":[{"b2bApiKey":[]}],"responses":{"200":{"description":"Default Response","content":{"application/json":{"schema":{"type":"object","required":["userId","tokenAddress","count","hasMore","nextBefore","updatedAt","items"],"properties":{"userId":{"type":"string","description":"The author, echoed back — the same `id` a user record carries."},"tokenAddress":{"type":["null","string"],"description":"The token this page was narrowed to, normalised. Null on the unfiltered feed."},"count":{"type":"integer","description":"Items in this page (0..20)."},"hasMore":{"type":"boolean","description":"Whether older theses exist behind this page."},"nextBefore":{"type":["null","string"],"description":"The OLDEST item’s `id`. Send back as `?before=` to continue. Null on the last page."},"updatedAt":{"type":["null","integer"],"description":"Post time of the NEWEST thesis in this page, epoch millis."},"items":{"type":"array","items":{"type":"object","required":["id","authorHandle","thesis","fomoCreatedAt"],"properties":{"id":{"type":"string","description":"Thesis id. Dedupe on this, and send it back as `?before=` to paginate. Not related to a user `id`."},"tokenAddress":{"type":["null","string"],"description":"The token this thesis is about. Present on every item, including the narrowed feeds, so one item shape works everywhere."},"tokenNetwork":{"type":["null","string"],"description":"Chain name (`sol`, `eth`, `base`, …)."},"tokenSymbol":{"type":["null","string"],"description":"Ticker."},"authorId":{"type":["null","string"],"description":"The author’s `id` — the same value a user record carries. Pass it straight to `/v2/user/id/{id}` for their profile, or `/v2/thesis/user/{id}` for everything else they have posted."},"authorHandle":{"type":["null","string"],"description":"Author’s handle. Display it; to look the author up prefer `authorId`, which does not change when they rename."},"authorName":{"type":["null","string"],"description":"Author display name."},"authorIsDev":{"type":["null","boolean"],"description":"Author is the token’s dev."},"thesis":{"type":["null","string"],"description":"The thesis text."},"segments":{"type":["null","array"],"description":"Rich-text runs of the thesis text (text + optional link).","items":{"type":"object","additionalProperties":true}},"likeCount":{"type":["null","integer"]},"holdingsUsd":{"type":["null","number"],"description":"Author’s position value in USD at post time."},"authorTradeUsd":{"type":["null","number"],"description":"USD size of the trade behind the thesis."},"pnl":{"type":["null","number"],"description":"Legacy single figure: realized, falling back to unrealized."},"realizedPnlUsd":{"type":["null","number"],"description":"Realized PnL in USD."},"unrealizedPnlUsd":{"type":["null","number"],"description":"Unrealized PnL in USD."},"percentageRealizedPnl":{"type":["null","number"],"description":"Realized PnL as a percentage."},"percentageUnrealizedPnl":{"type":["null","number"],"description":"Unrealized PnL as a percentage."},"tokenAmount":{"type":["null","number"],"description":"Author’s token balance behind the thesis."},"closedAt":{"type":["null","integer"],"description":"When the author’s position closed, epoch millis. Null while open — the PnL above is then a running figure, not a final one."},"fomoCreatedAt":{"type":["null","integer"],"description":"Post time, epoch milliseconds."}}}}}}}}}}}},"/v2/me":{"get":{"summary":"Introspect the calling API key","tags":["Account"],"description":"Returns the account, project, plan, scopes, and entitlement bound to\nthe presented API key, plus a snapshot of both unit buckets.\n\n- Requires any valid API key (no specific scope). Costs 0 CU.\n- `usage.period` is the UTC billing bucket (`YYYY-MM`);\n  `unitsRemaining` never goes below 0 and does not roll over.\n- `usage.additionalUnits` is the top-up balance: it never expires and\n  is spent only once the month’s grant cannot cover a call.","security":[{"b2bApiKey":[]}],"responses":{"401":{"description":"Default Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/def-0"}}}},"429":{"description":"Default Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/def-0"}}}},"503":{"description":"Default Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/def-0"}}}}}}}},"components":{"securitySchemes":{"b2bApiKey":{"type":"http","scheme":"bearer","description":"B2B API key (`fsk_live_…` / `fsk_test_…`), issued by FomoScan. Also accepted via `X-Api-Key`."}},"schemas":{"ErrorBody":{"type":"object","required":["error"],"properties":{"error":{"type":"object","required":["code","message"],"properties":{"code":{"type":"string","description":"Stable, lower-snake-case error code.","enum":["NOT_FOUND","VALIDATION_ERROR","QUERY_TOO_SHORT","RATE_LIMITED","UNAUTHORIZED","QUEUE_UNAVAILABLE","SCRAPER_UNHEALTHY","INTERNAL_ERROR","NOT_IMPLEMENTED","EVM_REQUIRES_VERIFIED_SVM","SYNC_ALREADY_RUNNING","TIMEOUT","BAD_REQUEST","FORBIDDEN","FLEET_UNAVAILABLE","FORBIDDEN_SCOPE","QUOTA_EXCEEDED","B2B_DISABLED","IDEMPOTENCY_CONFLICT","NOT_OBSERVED"]},"message":{"type":"string"},"retryAfter":{"type":"integer","description":"Seconds; only on RATE_LIMITED."},"addUrl":{"type":"string","description":"Hint URL for NOT_FOUND on get-user."},"syncId":{"type":"string","description":"Present on SYNC_ALREADY_RUNNING."},"pollUrl":{"type":"string","description":"Present on SYNC_ALREADY_RUNNING."}}}}},"def-0":{"type":"object","required":["error"],"properties":{"error":{"type":"object","required":["code","message"],"properties":{"code":{"type":"string","description":"Stable, lower-snake-case error code.","enum":["NOT_FOUND","VALIDATION_ERROR","QUERY_TOO_SHORT","RATE_LIMITED","UNAUTHORIZED","QUEUE_UNAVAILABLE","SCRAPER_UNHEALTHY","INTERNAL_ERROR","NOT_IMPLEMENTED","EVM_REQUIRES_VERIFIED_SVM","SYNC_ALREADY_RUNNING","TIMEOUT","BAD_REQUEST","FORBIDDEN","FLEET_UNAVAILABLE","FORBIDDEN_SCOPE","QUOTA_EXCEEDED","B2B_DISABLED","IDEMPOTENCY_CONFLICT","NOT_OBSERVED"]},"message":{"type":"string"},"retryAfter":{"type":"integer","description":"Seconds; only on RATE_LIMITED."},"addUrl":{"type":"string","description":"Hint URL for NOT_FOUND on get-user."},"syncId":{"type":"string","description":"Present on SYNC_ALREADY_RUNNING."},"pollUrl":{"type":"string","description":"Present on SYNC_ALREADY_RUNNING."}}}},"title":"ErrorBody"}}}}